// Layout variables partial

@use "colors" as *;

$section-padding: 40px 0;
$event-padding: 40px 0 20px;

section.intro,
section.features-extra,
section.rsvp {
  background: $section-light;
}
section.features,
section.events,
section.blog {
  background: $section-dark;
}
